body {
    background-color: #ff99ff;
}

/* this is to change the color of the search button in nav */
.custom-outline-success {
    border-color: #9E0639;
    color: #000000;
}

#hero {
    height: 440px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/headernail.jpg");
    background-attachment: fixed;
}

#subscription {

    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: large;
    margin-top:50px ;

}

#subtitle {
    font-family: "DM Serif Display", serif;
    text-align:left;
}

#about {

    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin-top:60px;
}

#aboutitle {
    font-family: "DM Serif Display", serif;
    text-align: center;
}

#about img {
    width: 180px;
    height: 150px;
}

.modal-content {
    background-color: #f7cdf7;
}

#subscription ul {
    text-align: left;
}

#addtocarthp {
    text-align: left;
}

#moni {
    text-align: left;
}

#subscription img {
    width: 400px;
    margin-top: 3%;
}

.card {
    background-color: #f1bef1;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.bttmpage {
    margin-top: 40px;
}

.pagination>li>a:hover {
    color: #f462f4;

}

.pagination a {
    color: #000000;
}

#fakenav {
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-left: 10px;

}

#fakenav a {
    color: #000000;

}

#fakenav a:hover {
    color: #9E0639;
}

#shopnails img {
    margin-left: 43%;
    margin-top: 10px;
    width: 200px;
}
#shopallbutton{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#shopallbutton a:hover{
    color:white;
    font-size: small;
    
}
#shopallbutton a{
    color: #000000;
    text-decoration: none;
}
#shoplatest{
    font-family: "DM Serif Display", serif;
    text-align: center;
    margin:10px 10px ;
}
#emailinput{
    margin-top:50px;
    text-align:center;
    font-family:"DM Serif Display", serif;
}
#basic-addon2{
    margin-right: 300px;
}
#rr{
    margin-left:300px;
}
#insertemail {
   width: 50%;
   margin: 0 auto;
   
}